.root{

    -fx-background-color:black;

}

/*==========================
        MENU
===========================*/

#menuBox{

    -fx-alignment:center;

}

/*==========================
      NEW GAME
===========================*/

#newGameButton{

    -fx-font-size:34px;

    -fx-font-weight:bold;

    -fx-text-fill:white;

    -fx-pref-width:360px;
    -fx-pref-height:80px;

    -fx-background-radius:30;

    -fx-background-color:
        rgba(255,255,255,0.16);

    -fx-border-color:
        rgba(255,255,255,0.45);

    -fx-border-width:2;

    -fx-border-radius:30;

    -fx-effect:dropshadow(
            gaussian,
            rgba(0,0,0,0.55),
            25,
            0.4,
            0,
            10);

}

/*==========================
          EXIT
===========================*/

#exitButton{

    -fx-font-size:25px;

    -fx-font-weight:bold;

    -fx-text-fill:white;

    -fx-pref-width:250px;
    -fx-pref-height:60px;

    -fx-background-radius:25;

    -fx-background-color:
        rgba(255,255,255,0.12);

    -fx-border-color:
        rgba(255,255,255,0.35);

    -fx-border-width:2;

    -fx-border-radius:25;

    -fx-effect:dropshadow(
            gaussian,
            rgba(0,0,0,0.45),
            20,
            0.3,
            0,
            8);

}

/*==========================
      Hover Effect
===========================*/

.button:hover{

    -fx-cursor:hand;

    -fx-scale-x:1.08;
    -fx-scale-y:1.08;

    -fx-background-color:
        rgba(255,255,255,0.25);

    -fx-border-color:white;

}

/*==========================
      Press Effect
===========================*/

.button:pressed{

    -fx-scale-x:0.96;
    -fx-scale-y:0.96;

}

/*==========================
       Focus Glow
===========================*/

.button:focused{

    -fx-effect:
        dropshadow(
            gaussian,
            rgba(255,255,255,0.85),
            40,
            0.6,
            0,
            0);

}